@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "./src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
}

h3 {
  margin-bottom: $base-fontsize;
}

@include elr-containers(
  $config: (
    max-width: 1024px,
  )
);

.block {
  padding: $base-fontsize;
  margin: $base-fontsize;
  background-color: paleturquoise;

  &.reset-block {
    @include elr-reset-element();
  }
}

.clearfix {
  @include elr-clearfix;
}

.box {
  background-color: lightcoral;
  height: 200px;
  width: 200px;
  margin: $base-fontsize;
  padding: $base-fontsize;
  color: #fff;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-block {
  @include elr-center-block;
  padding: $base-fontsize;
  background-color: paleturquoise;
  width: 700px;
  max-width: 100%;
}

.center-flex {
  @include elr-center-flex;
}

.box-holder {
  background-color: paleturquoise;
  padding: $base-fontsize;
  margin: $base-fontsize;

  &.height-700 {
    max-width: 100%;
    height: 700px;
    width: 700px;
    position: relative;
  }

  &.height-300 {
    height: 300px;
    width: 300px;
    position: relative;
  }

  &.overflow-scroll {
    overflow: scroll;

    .content {
      width: 400px;
      min-height: 400px;
      background-color: darkorchid;
      padding: 32px;

      p {
        color: #fff;
      }
    }

    &.no-scroll {
      @include elr-disable-scrollbars;
    }
  }

  .content-top-center {
    @include elr-position(
      $config: (
        x: "center",
        y: "top",
      )
    );
  }
  .content-bottom-center {
    @include elr-position(
      $config: (
        x: "center",
        y: "bottom",
      )
    );
  }
  .content-center-left {
    position: relative;
    @include elr-position(
      $config: (
        x: "left",
        y: "center",
      )
    );
  }
  .content-center-right {
    position: relative;
    @include elr-position(
      $config: (
        x: "right",
        y: "center",
      )
    );
  }
  .content-center {
    position: relative;
    @include elr-position;
  }

  .box.left {
    float: left;
  }
}

.screen-reader-only {
  @include elr-screen-reader;
}

p {
  margin: $base-fontsize 0;
  line-height: 1.5;
}
